<table class='transactions-table'>

  <tbody>
    <% for transaction in @transactions %>
      <tr>
        <td><%= transaction.tag.name %></td>
        <td><%= transaction.merchant.name %></td>
        <td><%= transaction.date %></td>
        <td align='right'><a class='actions' href='/transactions/<%= transaction.id %>/edit'>Edit</a></td>
        <td align='right'>- £<%= sprintf('%.2f', transaction.amount) %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td colspan='4'>
      <div class='filter-wrapper'>

      <a class='add-button' href='/transactions/new' title='New Transaction'>+</a>
        
      <a class='add-button' href='/transactions/sort-by-date' title='Sort by Date'><img style='height: .5em' src='/images/sort.png'></a>
      
      <form class='filter' action='/transactions/merchants' method='GET'>
          <select name='merchant_id' required>
            <option value='' hidden>Filter by Merchant</option>
            <% for merchant in @merchants %>
            <option value='<%= merchant.id %>'><%= merchant.name %></option>
            <% end %>
          </select>

          <button type="submit" value="Submit">
            <img style='height: 1em' src='/images/filter.png'>
          </button>

        </form>

        <form class='filter' action='/transactions/tags' method='GET'>
          <select name='tag_id' required>
            <option value='' hidden>Filter by Tag</option>
            <% for tag in @tags %>
            <option value='<%= tag.id %>'><%= tag.name %></option>
            <% end %>
          </select>

          <button type="submit" value="Submit">
            <img style='height: 1em' src='/images/filter.png'>
          </button>
          
        </form>

        <a class='actions' href='/transactions'>Clear All</a>

      </div>
      </td>

      <td align='right'>TOTAL: - £<%= sprintf('%.2f', @total) %></td>
    </tr>
  </tfoot>

</table>

