<table class='transactions-table'>

  <tbody>
    <% for transaction in @transactions %>
      <tr>
        <td class='col1'><%= transaction.tag.name %></td>
        <td class='col2'><%= transaction.merchant.name %></td>
        <td class='col3'><%= transaction.date %></td>
        <td align='right'><a class='actions' href='/transactions/<%= transaction.id %>/edit'>Edit</a></td>
        <td class='col4' align='right'>- £<%= sprintf('%.2f', transaction.amount) %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td><a class='add-button' href='/transactions/new'><div>+</div></a></td> 
      <td>
        <a class='actions' href='/transactions/sort-by-date'>Sort by date</a>


        <form action='/transactions/merchants' method='GET'>
          <select name='merchant_id' required>
            <option value='' hidden>Filter by Merchant</option>
            <% for merchant in @merchants %>
            <option value='<%= merchant.id %>'><%= merchant.name %></option>
            <% end %>
          </select>
          <input type='submit' value='Filter' />
        </form>
      </td>
      <td colspan='3' align='right'>TOTAL: - £<%= sprintf('%.2f', @total) %></td>
    </tr>
  </tfoot>

</table>

